<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon link -->
    <link rel="shortcut icon" href="{% static 'videoconferencing/img/icon.png' %}" type="image/x-icon">

    <!-- google nurito and josefin sans fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;
    0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;
    0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">

    <!-- custom scss file link -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'videoconferencing/scss/main.scss'%}" />
    {% endcompress %}

    <title>Connect with RTC</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__content">
                <h1 class="heading-1">Connect with RTC</h1>
                <button class="btn">Start Video Call</button>
                <button class="btn">Sign Up</button>
                <button class="btn">Login</button>
            </div>

            <div class="header__gradient"></div>
            <video class="header__bg-video" autoplay muted loop>
                <source src="{% static 'videoconferencing/img/video.mp4' %}" type="video/mp4">
            </video>

        </header>

        <section class="content">
            <img src="" alt="" class="content__img">
            <div class="content__details">
                <h3 class="heading-2">Video Calling That's Beyond Your Imagination</h3>
                <p>Experience seamless video calls with your colleagues and friends,
                    whether you’re discussing business plans or catching up after work.
                    Unlock the full potential of video communication with our easy-to-use
                    platform.
                </p>
            </div>
            <img src="" alt="" class="content__img">
            <div class="content__details">
                <h3 class="heading-2">Share Your Screen Like a Pro</h3>
                <p>Showcase your ideas and presentations with our intuitive screen
                    sharing feature. Collaborate effectively and keep everyone on
                    the same page - the possibilities are endless!
                </p>
            </div>
        </section>

        <section class="getstarted">
            <h4 class="heading-3">Get Started</h4>
            <p>Ready to revolutionize your video calling experience?
                Register today and embark on a communication journey
                that’s worlds away from ordinary.
            </p>
            <button class="btn">Sign Up</button>
            <button class="btn">Login</button>
        </section>

        <section class="queries">
            <h4 class="heading-3">Common Queries</h4>
            <div class="queries__list">
                <h5 class="queries__list-q">How do I create a room?</h5>
                <p class="queries__list-ans">
                    Simply put room name and 'Start a Call'. You can share room name
                    with your intended participants.
                </p>
                <h5 class="queries__list-q">Can I mute my mic?</h5>
                <p class="queries__list-ans">
                    Absolutely! Use the onscreen control panel to mute and
                    unmute your mic and camera with ease.
                </p>
                <h5 class="queries__list-q">Is screen sharing safe?</h5>
                <p class="queries__list-ans">
                    Rest assured, our platform prioritizes privacy and security,
                    so you can share your screen without worry.
                </p>
            </div>

        </section>

        <footer class="footer">
            <div class="footer__content">
                <div class="footer__features">
                    <ul class="footer__features--list">
                        <li>Video Calls</li>
                        <li>Screen Sharing</li>
                        <li>Control Panel</li>
                    </ul>
                </div>
                <div class="footer__support">
                    <ul class="footer__support--list">
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer__legal">
                    <ul class="footer__legal--list">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Services</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="footer__link">
                    <li><a href="#" class="tweeter"></a></li>
                    <li><a href="#" class="insta"></a></li>
                    <li><a href="#" class="github"></a></li>
                    <li><a href="#" class="linedin"></a></li>
                </div>
                <div class="footer__copy">
                    Copyright &copy; 2023 Connect with RTC
                </div>
            </div>
        </footer>
    </div>
</body>

</html>