<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel name</title>
    <link rel="stylesheet" href="{% static 'videoconferencing/css/style.css'%}">
</head>

<body>
    <h1>Create Channel</h1>

    <input type="text" name="channel-name" id="channel-name" required autofocus>
    <input type="submit" id="join-btn" value="join channel">

</body>
<script type="text/javascript" src="{% static 'videoconferencing/js/channel.js' %}"></script>

</html>