/* line 5, videoconferencing/static/videoconferencing/scss/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 13, videoconferencing/static/videoconferencing/scss/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* line 18, videoconferencing/static/videoconferencing/scss/_base.scss */
body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f9f7f6; }

/* line 26, videoconferencing/static/videoconferencing/scss/_base.scss */
.container {
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 90vh repeat(4, minmax(30rem, min-content)); }

/* line 1, videoconferencing/static/videoconferencing/scss/_header.scss */
.header {
  position: relative; }
  /* line 5, videoconferencing/static/videoconferencing/scss/_header.scss */
  .header__gradient {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 5; }
  /* line 17, videoconferencing/static/videoconferencing/scss/_header.scss */
  .header__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center; }

/* line 1, videoconferencing/static/videoconferencing/scss/_content.scss */
.content {
  background-color: #f9f7f6;
  padding: 5rem;
  font-size: 4rem; }
