/* line 5, videoconferencing/static/videoconferencing/scss/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 13, videoconferencing/static/videoconferencing/scss/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* line 18, videoconferencing/static/videoconferencing/scss/_base.scss */
body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f9f7f6; }

/* line 26, videoconferencing/static/videoconferencing/scss/_base.scss */
.container {
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 80vh repeat(4, minmax(30rem, min-content)); }

/* line 1, videoconferencing/static/videoconferencing/scss/_header.scss */
.header {
  padding: 5rem;
  font-size: 3rem; }
  /* line 5, videoconferencing/static/videoconferencing/scss/_header.scss */
  .header__bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover; }
