$font-display: 'Josefin Sans', sans-serif;
$color-grey-dark-2: #6D5D4B;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px, 10/16=0.625.
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    background-color: $color-grey-light-1;
}

.container{
    background-color: aliceblue;

    display: grid;
    grid-template-rows: 90vh repeat(3, minmax(30rem, min-content)) 1fr;
}
